.example-card {
    max-width: 400px;
    margin: 200px auto;
  }
  
  .example-header-image {
    background-image: url('https://365psd.com/images/previews/1e6/surveillance-camera-vector-graphics-eps-58349.jpg');
    background-size: cover;
  }

  
